<div id="login">
  <div class="bg-unicartagena"></div>
  <div class="container">
    <section class="row">
      <div class="col s12 l6">
        <form class="card card-login" ng-submit="login()">
          <div class="card-content">
            <img src="images/unicartagena.jpg" />
            <div class="divider"></div>
            <h5>Inicio de sesión</h5>
            <div class="row">
              <div class="input-field col s12">
                <input id="username" type="text" class="validate" ng-model="form.username">
                <label for="username" data-error="El nombre de usuario o correo  es incorrecto.">Nombre de usuario o correo electrónico</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" ng-model="form.password">
                <label for="password">Contraseña</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button class="btn btn-login amber">Iniciar sesión</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>